{% load bootstrap4 %}
{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% if title %}
    <title>Photo Gallery - {{title}}</title>
    {% else %}
    <title>Photo Gallery</title>
    {% endif %}
    <link rel="stylesheet" href="{ % static 'js/app.js' % }">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
        integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>

{% block styles %}
{% bootstrap_css %}


{% endblock %}

<body style="background-color:rgba(226, 221, 214, 0.836); ">

    <nav class="navbar navbar-inverse" style="background-image: linear-gradient(
        rgba(252, 4, 66, 0.945),
        rgba(151, 37, 113, 0.034)
        
        
      )">
        <div>
            <a class="navbar-brand" href="{% url 'main_gallery' %}"
                style="color:rgba(67, 128, 185, 0.884);font-weight:600;font-size: 25px;">HOME
            </a>
        </div>



        <!-- Adding a search form -->

        <div class="col-sm-4 navbar-right">
            <form action="{% url 'search' %}" class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Category" name="category">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <div class="container">
        {% block content %}

        {%endblock%}
    </div>
</body>

</html>